/*------------------------------------------------------------------------------------------------
// Content
------------------------------------------------------------------------------------------------*/
.vip-wrapper {
  overflow: hidden;
}
.hidden {
  display: none;
}
p {
  background-color: blue;
}
.danewRole {
  font-size: 20px;
}

/*------------------------------------------------------------------------------------------------
// Fonts
------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------
// Globals
------------------------------------------------------------------------------------------------*/
img {
  width: 300px;
  height: 300px;
  float: left;
}

/*------------------------------------------------------------------------------------------------
// Media
------------------------------------------------------------------------------------------------*/


